html,
body,
.body {
  background: #ffffff !important;
  background-color: #ffffff !important;
  padding-bottom: 20px;
}

.myFico_header {
  .columns {
    padding: 20px !important;
  }
  .logo {
    width: 150px;
  }
  .myFico_right {
    & > table {
      margin-top: 15px;
      margin-left: 65% !important;
    }
    .sign-in_button {
      font-family: arial, helvetica, sans-serif !important;
      padding: 10px 20px !important;
      border-radius: 3px;
      border: 1px solid #00609c;
      color: #196ad4;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.myFico_line {
  .blue-line {
    width: 100%;
    background: #00609c;
  }
}

.myFico_main-info {
  font-family: Arial, Helvetica, sans-serif;
  .hero {
    padding: 20px 20px 10px !important;
    img {
      width: 100%;
    }
    .title {
      padding: 30px 0 10px !important;
      color: #000000;
      font-size: 18px;
      font-weight: 600;
    }
    .info {
      color: #000000;
      font-size: 14px;
    }
  }
}

.myFico_main-button {
  & > tbody > tr > th {
    padding: 20px !important;
  }
  .button {
    background: #00609c;
    padding: 10px 70px !important;
    border: 1px solid #00609c;
    color: #ffffff;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
}

.myFico_sub-info {
  & > tbody > tr > th {
    padding: 20px 20px 10px !important;
  }
  .left,
  .right {
    img {
      max-width: 100%;
    }
    p {
      color: #000000;
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0 10px !important;
    }
  }

  .left-button,
  .right-button {
    padding: 10px 0 20px!important;
    .button {
      background: #00609c;
      padding: 10px 53px !important;
      border: 1px solid #00609c;
      color: #ffffff;
      border-radius: 3px;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
    }
  }
}

.myFico_forum {
  background: #e6e6e6;
  background-color: #e6e6e6;
  padding: 0;
  & > tbody > tr > th {
    padding: 0 !important;
  }
  .title {
    padding-bottom: 0;
  }
  .left > table > tbody > tr > th {
    width: 80px;
  }
  .right {
    padding: 0;
    margin-left: 5px !important;
    & > table {
      margin-left: 6px !important;
    }
  }
}

.myFico_footer-top {
  background: #d3dce2;
  background-color: #d3dce2;
  .columns {
    padding: 0 !important;
    & > table {
      width: 40px;
    }
  }
  .icons {
    width: 40px !important;
    margin-left: 20px;
    margin-right: 37px;
  }
}

.myFico_footer-bottom {
  background: #e6e6e6;
  background-color: #e6e6e6;
  & > tbody > tr > th {
    padding: 20px !important;
  }
  p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-align: left;
    font-size: 12px;
  }
  a {
    color: #196ad4;
    text-decoration: underline;
    font-size: 12px;
  }
}
