html,
body,
.body {
}

.newegg_header {
  background: #001723;
  background-color: #001723;
  .columns {
    padding: 0 !important;
  }
  .logo {
    max-width: 200px;
    margin: 0 auto;
    padding-left: 20px;
  }
}

// .newegg_nav {
//   background: #001723;
//   background-color: #001723;
//   .columns {
//     padding: 0 !important;
//   }
//   & > tbody > tr > th {
//     padding-bottom: 15px !important;
//   }
//   .inside_container {
//     .link {
//       max-height: 20px !important;
//       height: 100% !important;
//     }
//     .img-1 {
//       max-width: 60px !important;
//     }
//     .img-2 {
//       max-width: 90px !important;
//     }
//     .img-3 {
//       max-width: 75px !important;
//     }
//     .img-4 {
//       max-width: 80px !important;
//     }
//     .img-5 {
//       max-width: 65px !important;
//     }
//     .img-6 {
//       max-width: 80px !important;
//     }
//     .img-7 {
//       max-width: 67px !important;
//     }
//     .img-8 {
//       max-width: 35px !important;
//     }
//   }
// }

.newegg_daily-deal {
  & > table {
    table-layout: fixed;
  }
    .newegg_daily-deal-top {
      .daily-deal_inside-top {
        padding: 0 15px !important;
        .top {
          & > tbody > tr > th {
            padding-bottom: 0 !important;
          }
          img {
            max-width: 610px !important;
            width: 100%;
            height: auto !important;
          }
        }
      } 
    }

  .newegg_daily-deal-bottom {
    background: #001723 !important;
    background-color: #001723 !important;
    table-layout: fixed;
    .daily-deal_inside-bottom {
      table-layout: fixed;
      padding-bottom: 0 !important;
      .bottom {
        table-layout: fixed;
        .daily-deal_left_img,
        .daily-deal_right_img {
          max-width: 300px !important;
          width: 100% !important;
          max-height: 214px !important;
          height: 100% !important;
        }
        .daily-deal_middle_img {
          table-layout: fixed;
          max-width: 300px !important;
          width: 100% !important;
          max-height: 214px !important;
          min-height: 147px !important;
          height: 100% !important;
        }
      }
    }
  }
}


.newegg_supplies {
  background: #001723;
  background-color: #001723;
  .newegg_supplies_inside {
    .columns {
      padding: 0 !important;
    }
    .top {
      padding-top: 14px !important;
      .columns {
        img {
          max-width: 640px !important;
          width: 100% !important;
        }
      }
    }
  }
}

.newegg_essentials {
  background: #001723;
  background-color: #001723;
  .essentials_inside {
    .columns {
      padding: 0 !important;
    }
  }
}

.newegg_more {
  background: #001723;
  background-color: #001723;
  .more_inside {
    margin-top: 14px !important;
    .columns {
      padding: 0 !important;
    }
  }
}

.misc {
  background: #001723;
  background-color: #001723;
  .misc_inside {
    max-width: 600px !important;
    .discovery-zone {
      .discovery-zone_inside {
        margin-top: 14px !important;
        max-width: 100% !important;
        .columns {
          padding: 0 !important;
        }
      }
    }
    .newegg_small-promo-1 {
      background: #0e2858;
      background-color: #0e2858;
      .columns {
        padding: 0 !important;
      }
      small-promo-inside {
        max-width: 100% !important;
        padding: 0 16px !important;

        .left {
          max-width: 294px;
          max-height: 70px;
        }
        .right {
          max-width: 294px;
          max-height: 100px;
        }
      }
    }

    .newegg_small-promo-2 {
      background: #0e2858;
      background-color: #0e2858;
      margin-top: 14px !important;
      padding: 0 16px !important;
      .columns {
        padding: 0 !important;
      }
      .left {
        max-width: 294px;
        width: 100%;
        max-height: 70px;
      }
      .right {
        max-width: 294px;
        width: 100%;
        max-height: 100px;
      }
    }

    .newegg_pc-builder {
      background: #0e2858;
      background-color: #0e2858;
      margin-top: 14px !important;
      .columns {
        padding: 0 !important;
      }
      .left {
        max-width: 396px !important;
        width: 100%;
        max-height: 90px;
      }
      .right {
        max-width: 168px;
        width: 100%;
        max-height: 33px;
        padding: 30px 0 0;
      }
    }
  }
}

.newegg_social-icons {
  & > tbody > tr > th {
    margin-right: 60px !important;
  }
  .columns.first.last {
    padding: 20px 25px 0;
  }
  .columns > table {
    max-width: 34px;
    margin: 0 auto;
  }
  .icon {
    max-width: 34px;
  }
}

.newegg-footer_contact {
  background: #001723;
  background-color: #001723;
  & > tbody > tr > th {
    padding: 0 25px 6px !important;
  }
  .text {
    font-size: 20px;
    color: #818b8f;
    font-family: "Open Sans semibold", "Arial Narrow", "Helvetica Narrow", arial,
      helvetica, sans-serif;
    text-align: center;
  }
}
