.turbo-tax_header {
  margin-top: 10px !important;
  .columns {
    padding: 0 !important;
  }
}

.news-issue {
  background: #393a3d;
  .columns {
    padding: 5px 0 !important;
  }
}

.news-issue p {
  text-align: center;
  color: #ffffff;
}

.one-box {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  .hero {
    padding-bottom: 0;
  }
}

.one-box-text {
  background: #f1f1f1;
  .hero-text {
    p {
      padding: 20px 20px 22px 10px !important;
      background: #ffffff;
      font-size: 14px;
    }
  }
}

.two-boxs {
  background: #f1f1f1;
  .box-one {
    .text {
      padding-top: 20px !important;
      .title {
        font-size: 15px;
        padding: 0 10px 5px !important;
      }
      .info {
        font-size: 12.5px;
        padding: 5px 10px 7px !important;
        a {
          color: #0082c3;
        }
      }
    }
  }
  .box-two {
    .text {
      padding-top: 20px !important;
      .title {
        font-size: 15px;
        padding: 0 10px 5px !important;
      }
      .info {
        font-size: 12.5px;
        padding: 5px 10px 26px !important;
        a {
          color: #0082c3;
        }
      }
    }
  }
}

.three-boxs {
  background: #f1f1f1;
  .sm-one {
    .text {
      background: #ffffff;
      background-color: #ffffff;
      padding-bottom: 0;
      .title {
        font-size: 15px;
        padding: 25px 10px 8px !important;
      }
      .info {
        font-size: 12.5px;
        padding: 8px 10px 16px !important;
        a {
          color: #0082c3;
        }
      }
    }
  }
  .sm-two {
    .text {
      background: #ffffff;
      background-color: #ffffff;
      padding-bottom: 0;
      .title {
        font-size: 15px;
        padding: 25px 10px 8px !important;
      }
      .info {
        font-size: 12.5px;
        padding: 10px 10px 50px !important;
        a {
          color: #0082c3;
        }
      }
    }
  }
  .sm-three {
    .text {
      background: #ffffff;
      background-color: #ffffff;
      padding-bottom: 0;
      .title {
        font-size: 15px;
        padding: 25px 10px 8px !important;
      }
      .info {
        font-size: 12.5px;
        padding: 8px 10px 33px !important;
        a {
          color: #0082c3;
        }
      }
    }
  }
}

.long-box {
  background: #f1f1f1;
  background-color: #f1f1f1;
  .long-one img {
    width: 100%;
  }
  .long-text {
    background: #ffffff;
    background-color: #ffffff;
    .title {
      font-size: 15px;
      padding: 30px 0 15px;
    }
    .info {
      font-size: 13px;
      a {
        color: #0082c3;
      }
    }
  }
}

.turbo-tax_footer-top {
  & > tbody > tr > th {
    padding-top: 35px;
    padding-bottom: 0;
  }
  .logo {
    width: 19px;
  }
  .click {
    margin-top: 7px;
    font-weight: 600;
  }
  p {
    font-family: "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }
  span {
    color: #6b6c72;
  }

  .turbo-tax_black-line {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 30px;
    background: #000000;
    width: 100%;
    height: 1px;
  }
  .turbo-tax_social {
    width: 190px !important;
    float: right;
    .turbo-tax__icons {
      .columns {
        padding: 0 !important;
      }
    }
  }
}

.turbo-tax_footer-bottom {
  background: #f1f1f1;
  .columns {
    padding: 0;
  }
}
