.container {
  width: 100%;
}


.turbo-tax_header {
  margin-top: 10px !important;
  width: 100%;
  .columns {
    padding: 0 !important;
  }
}

.news-issue {
  background: #393a3d;
  .columns {
    padding: 5px 0 !important;
  }
}

.news-issue p {
  text-align: center;
  color: #ffffff;
}

.one-box {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  .hero {
    padding-bottom: 0;
  }
}

.one-box-text {
  background: #f1f1f1;
  p {
    padding: 20px 20px 22px 10px;
    background: #ffffff;
    font-size: 14px;
  }
}

.two-boxs {
  background: #f1f1f1;
  .box-one {
    .title {
      font-size: 15px;
      padding-bottom: 16px;
    }
    .info {
      font-size: 12.5px;
      a {
        color: #0082c3;
      }
    }
  }
  .box-two {
    .title {
      font-size: 15px;
      padding-bottom: 15px;
    }
    .info {
      font-size: 13px;
      a {
        color: #0082c3;
      }
    }
  }
}

.three-boxs {
  background: #f1f1f1;
  .sm-one {
    .title {
      font-size: 15px;
      padding-bottom: 16px;
    }
    .info {
      font-size: 12.5px;
      a {
        color: #0082c3;
      }
    }
  }
  .sm-two {
    .title {
      font-size: 15px;
      padding-bottom: 16px;
    }
    .info {
      font-size: 13px;
      a {
        color: #0082c3;
      }
    }
  }
  .sm-three {
    .title {
      font-size: 15px;
      padding-bottom: 15px;
    }
    .info {
      font-size: 13px;
      a {
        color: #0082c3;
      }
    }
  }
}

.long-box {
  background: #f1f1f1;
  .long-one img{
    width: 183px;

  }
  .long-text {
    background: #ffffff;
    margin-top: 50px !important;
    .title {
      font-size: 15px;
      padding-bottom: 15px;
      margin-top: 30px;
    }
    .info {
      font-size: 13px;
      a {
        color: #0082c3;
      }
    }
  }
}