<container>
  <row class="myFico_footer-top">
    <columns>
      <row>
        <columns>
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Ftwitter.com%2Fmyfico/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/G4XQ83DlOsQXV9ehgsJyGhtFHWo=239"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fwww.myfico.com%2Fstatic%2Fimages%2Fmarketing%2Fsocial-mobile%2Ftwitter_90x90.png&t=1636486822&ymreqid=ed8b9e6a-da10-874f-1cbc-a90000014d00&sig=HJtjaQHhFJWayoGP2aLsNA--~D"
              class="icons"
          /></a>
        </columns>
        <columns>
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fwww.facebook.com%2FmyFICO/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/GFx445mMhAe2w0orQtd1ZNeKHDw=239"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fwww.myfico.com%2Fstatic%2Fimages%2Fmarketing%2Fsocial-mobile%2Ffacebook_90x90.png&t=1636486822&ymreqid=ed8b9e6a-da10-874f-1cbc-a90000014d00&sig=B6rWn1LWqE.IpPipIiLt7Q--~D"
              class="icons"
          /></a>
        </columns>
        <columns>
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fwww.instagram.com%2Fmyficoofficial%2F%3Fhl=en/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/Fs3vG8JQt9sFXrnGS722o00Ztu0=239"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fwww.myfico.com%2Fstatic%2Fimages%2Fmarketing%2Fsocial-mobile%2Finstagram_90x90.png&t=1636486822&ymreqid=ed8b9e6a-da10-874f-1cbc-a90000014d00&sig=P3G8MxH5dMTwBMKA99cXUw--~D"
              class="icons"
          /></a>
        </columns>
        <columns>
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fapps.apple.com%2Fus%2Fapp%2Fmyfico-official-fico-scores%2Fid714626557/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/ypkYrBgPat-h71ZziE7jGqAUiPU=239"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fwww.myfico.com%2Fstatic%2Fimages%2Fmarketing%2Fsocial-mobile%2Fapple_90x90.png&t=1636486822&ymreqid=ed8b9e6a-da10-874f-1cbc-a90000014d00&sig=_3zrKzpG44evKDpqjEpGQQ--~D"
              class="icons"
          /></a>
        </columns>
        <columns>
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid=com.myfico%26hl=en_US/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/Q_3ot-_Nox-Arb5TPacrIFiQOmQ=239"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fwww.myfico.com%2Fstatic%2Fimages%2Fmarketing%2Fsocial-mobile%2Fandroid_90x90.png&t=1636486822&ymreqid=ed8b9e6a-da10-874f-1cbc-a90000014d00&sig=ZfGPXq_3opQqbMP7ZIH8lA--~D"
              class="icons"
          /></a>
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="myFico_footer-bottom">
    <columns small="12" large="12">
      <row>
        <p>
          This email was sent to quandremyers@yahoo.com. This message is brought
          to you by myFICO and FICO. You are receiving this message because you
          have subscribed to receive credit education, news, and occasional
          offers.
        </p>

        <p style="padding-top: 10px">
          Please add
          <a href="news@mail.myfico.com">news@mail.myfico.com</a> to your
          address book to ensure our emails reach your inbox.
        </p>
        <p>
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fsupport.myfico.com%2Fhc%2Fen-us%2Frequests%2Fnew%3Futm_source=pinpoint%26utm_medium=email%26utm_campaign=credit-education%26utm_content=support/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/GAT2NKyuuR57btO1mWiBE2uBS3E=239"
            >Support</a
          >

          <span style="padding-right: 10px; padding-left: 10px">|</span>

          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fwww.myfico.com%2Fpolicy%2Fprivacy-policy%2F%3Futm_source=pinpoint%26utm_medium=email%26utm_campaign=credit-education%26utm_content=privacy/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/589Rlsa4db2ZEV4KKrI71AGmxLU=239"
            >Privacy Policy</a
          >

          <span style="padding-right: 10px; padding-left: 10px">|</span>

          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fwww.myfico.com%2Fmarketing%2Fpreferences.html%3Futm_source=pinpoint%26utm_medium=email%26utm_campaign=credit-education%26utm_content=unsubscribe/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/CkhKTOcgJLl-t6C-5TG4xzbaw0k=239"
            >Unsubscribe</a
          >
        </p>

        <p>
          &copy; 2021 Fair Isaac Corporation 181 Metro Drive, Suite 700 San Jose
          CA 95110. All rights reserved. FICO, myFICO, Score Watch, The score
          lenders use, and The Score That Matters are trademarks or registered
          trademarks of Fair Isaac Corporation. Equifax Credit Report is a
          trademark of Equifax, Inc. and its affiliated companies. Many factors
          affect your FICO Scores and the interest rates you may receive. Fair
          Isaac is not a credit repair organization as defined under federal or
          state law, including the Credit Repair Organizations Act. Fair Isaac
          does not provide "credit repair" services or advice or assistance
          regarding "rebuilding" or "improving" your credit record, credit
          history or credit rating.
          <a
            href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fwww.consumer.ftc.gov%2Ftopics%2Fcredit-and-loans/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/SxGh8BC03bVDxXi8klSzhDPD164=239"
            >FTC's website on credit.</a
          >
        </p>
      </row>
    </columns>
  </row>
</container>
