<container>
  <row class="myFico_header">
    <columns small="6" large="6" valign="middle" class="myFico_left">
      <img
        src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fwww.myfico.com%2Fstatic%2Fimages%2Fmarketing%2FLogos%2Fmyfico-logo_150x47.png&t=1636392764&ymreqid=ed8b9e6a-da10-874f-1cce-7e000001bf00&sig=_kCLAKgejxEDTDg_7LetVA--~D"
        class="logo"
      />
    </columns>
    <columns
      small="6"
      large="6"
      valign="middle"
      class="myFico_right float-right"
    >
      <a
        href="https://46xfxfhn.r.us-west-2.awstrack.me/L0/https:%2F%2Fauth.myfico.com%2Flogin%23%2F%3Futm_source=pinpoint%26utm_medium=email%26utm_campaign=newsletter%26utm_content=signin/1/02010000cjnvsmeu-l560cgvc-mdmh-na98-ug6t-p1n2a4bo72g0-000000/2-goyGUg9t4m4JYj9NLpHi5Kq0g=239" class="sign-in_button"
        >Sign In</a
      >
    </columns>
  </row>
</container>
