<container>
  <row class="newegg_header">
    <columns small="12" large="12" >
      <row>
        <columns>
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424470&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            >
            <img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2Fne_logo.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=utfOaHpWK9tFqbvUICAQ9Q--~D"
              class="logo"
          /></a>
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="newegg_nav">
    <columns small="12" large="12"  class="inside_container">
      <row>
        <columns small="1" large="1"></columns>
        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424471&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_01.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=6vaIvAr85S7gMTVvIbvBow--~D"
              class="link img-1"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424472&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_02.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=fOBdPg.QTJQZq.zXfJJNyQ--~D"
              class="link img-2"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424473&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_03.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=Httrc5F_pZ4p0QWQipNx6w--~D"
              class="link img-3"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424474&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_04.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=zw_U5nlYVZ7itjTTsqRogw--~D"
              class="link img-4"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424475&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_05.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=c7hVACrlVnTyIjjfwp0IAQ--~D"
              class="link img-5"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424476&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_06.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=O8fR7IKdGj9rg_GpCk47Pw--~D"
              class="link img-6"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424477&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_07_01.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=j8o2lnzRQdZEFnLTzL7vCg--~D"
              class="link img-7"
          /></a>
        </columns>

        <columns small="1" large="1">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424478&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            >
            <center>
              <img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2FtopNav_07_02.png&t=1636355731&ymreqid=ed8b9e6a-da10-874f-1c2d-930000019800&sig=iEnwqGeAMEqN33tjAb4.tg--~D"
              class="link img-8"
          />
            </center>
            </a>
        </columns>
        <columns small="1" large="1"></columns>
      </row>
    </columns>
  </row>
</container>