<container>
  <row
    class="newegg-two_social-icons"
    style="background: #001723; background-color: #001723"
  >
    <columns small="12" large="12" style="padding: 20px 16px 0 !important">
      <row>
        <columns
          small="1"
          large="3"
          style="padding-bottom: 0 !important"
        ></columns>
        <columns small="1" large="1" style="padding-bottom: 0 !important">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424491&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2Ficon1.png&t=1637374187&ymreqid=ed8b9e6a-da10-874f-1c7d-c50000018700&sig=_JAPQOsoneFYkUhzmawCYA--~D"
              class="icon"
              style="
                width: 34px !important;
                height: 34px !important;
                padding: 0 !important;
              "
          /></a>
        </columns>
        <columns small="1" large="1" style="padding-bottom: 0 !important">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424492&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2Ficon2.png&t=1637374187&ymreqid=ed8b9e6a-da10-874f-1c7d-c50000018700&sig=kkCD2beApF5SBbfs6kbuCA--~D"
              class="icon"
              style="
                width: 34px !important;
                height: 34px !important;
                padding: 0 !important;
              "
          /></a>
        </columns>
        <columns small="1" large="1" style="padding-bottom: 0 !important">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424493&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2Ficon3.png&t=1637374187&ymreqid=ed8b9e6a-da10-874f-1c7d-c50000018700&sig=bH4.7dxesrm4Ms9fjXDNMw--~D"
              class="icon"
              style="
                width: 34px !important;
                height: 34px !important;
                padding: 0 !important;
              "
          /></a>
        </columns>
        <columns small="1" large="1" style="padding-bottom: 0 !important">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424494&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2Ficon4.png&t=1637374187&ymreqid=ed8b9e6a-da10-874f-1c7d-c50000018700&sig=bWWXtrS61b93wlKfEAtIlg--~D"
              class="icon"
              style="
                width: 34px !important;
                height: 34px !important;
                padding: 0 !important;
              "
          /></a>
        </columns>
        <columns small="1" large="1" style="padding-bottom: 0 !important">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424495&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fpromotions.newegg.com%2Fnewegg%2FLandingPage%2Findex%2Ficon5.png&t=1637374187&ymreqid=ed8b9e6a-da10-874f-1c7d-c50000018700&sig=qw6__GF4XpQ20LOSiz26ew--~D"
              class="icon"
              style="
                width: 34px !important;
                height: 34px !important;
                padding: 0 !important;
              "
          /></a>
        </columns>
        <columns
          small="1"
          large="3"
          style="padding-bottom: 0 !important"
        ></columns>
      </row>
    </columns>
  </row>
  <row class="newegg-two-footer_contact">
    <columns small="12" large="12">
      <row>
        <p style="text-align: center !important; color: #818b8f; padding: 12px 0 6px !important;" class="text">
          Contact us
        </p>
      </row>
      <row>
        <p style="text-align: center">
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424496&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            style="
              font-size: 14px;
              color: #ffffff;
              font-family: 'Open Sans semibold', 'Arial Narrow',
                'Helvetica Narrow', arial, helvetica, sans-serif;
              padding-bottom: 20px;
              text-decoration: underline; ;
            "
            >Customer Service</a
          >

          <span style="color: #ffffff; font-size: 14px; padding: 0 5px">
            |
          </span>

          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424496&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            style="
              font-size: 14px;
              color: #ffffff;
              font-family: 'Open Sans semibold', 'Arial Narrow',
                'Helvetica Narrow', arial, helvetica, sans-serif;
              padding-bottom: 20px;
              text-decoration: underline;
            "
            >Send Feedback
          </a>
        </p>
      </row>
    </columns>
  </row>
  <row>
    <columns
      small="12"
      large="12"
      style="
        background: #001723;
        background-color: #001723;
        padding: 10px 16px;
      "
    >
      <row class="line">
        <columns style="padding: 0 !important">
          <p
            style="
              border-top: 1px solid #818b8f;
              width: 100% !important;
              text-align: center;
            "
          ></p>
        </columns>
      </row>
      <row>
        <p
          style="
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 11px;
            line-height: 16px;
            color: #818b8f;
            padding: 10px 0 !important;
          "
        >
          To receive exclusive promotions and be the first to know about new
          product releases,
          <a
            href="https://l.promo.newegg.com/rts/go2.aspx?h=424497&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
            style="color: #818b8f; font-size: 13px; text-decoration: underline;"
            >Sign up </a> >
          
        </p>
      </row>
      <row>
        <columns small="12" large="12" style="padding: 0 !important">
          <p style="color: #ffffff; font-size: 11px">
            ShellShocker Daily Deals: 24HRs Only! *Expires at 11:59PM PT on
            10/15/2021.
          </p>
          <spacer size="12"></spacer>
          <p style="color: #ffffff; font-size: 11px; padding: 0 0 10px 0">
            Black Friday Pre-Sale Deals: 48HRs Only! *Expires at 11:59PM PT on
            11/21/2021.
          </p>

          <p
            style="
              color: #818b8f;
              font-family: Arial, Verdana, Helvetica, sans-serif;
              font-size: 11px;
              padding-top: 10px !important;
              padding-bottom: 12px;
            "
          >
            Discounted prices and/or promo codes are valid till 10/17/2021 in
            United States only. Standard terms and conditions resume upon
            expiration. Valid only on current stock. *Product Discount Callouts
            Include Any Applicable Exclusive Newsletter Promo Code,
            Mail-In-Rebate and Instant Savings. Newsletter Item Callout May
            Differ from Product Discount Posted on Newegg Website. Promo codes
            may not be combined with other promo codes on a single item and can
            only be used once per registered account. Please see product page
            for individual item purchase limit. Only one promo code will be
            applied per item per order, even if the item is eligible for other
            promo codes entered at time of purchase. Newegg.com is not
            responsible for any typographical errors in this newsletter.
          </p>

          <p
            style="
              color: #818b8f;
              font-family: Arial, Verdana, Helvetica, sans-serif;
              font-size: 11px;
              padding-bottom: 12px;
            "
          >
            You are receiving this email because username@email.com is signed up
            to receive Newegg Exclusive Promotions. Please visit the Newegg
            website to
            <a
              href="https://l.promo.newegg.com/rts/go2.aspx?h=424498&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=0pWJK+zlsCg9Y2MHk1b6PHnSswCFsT+NUYvirqKIRf1k0h6jF1KkPqPN6rOKkAd8%7ccXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
              style="color: #818b8f; text-decoration: underline"
              >unsubscribe</a
            >.
          </p>
        </columns>
      </row>
      <row class="line">
        <columns style="padding: 0 !important">
          <p
            style="
              border-top: 1px solid #818b8f;
              width: 100%;
              text-align: center;
            "
          ></p>
        </columns>
      </row>
      <row>
        <columns style="padding: 10px 0 !important">
          <p
            style="
              color: #818b8f;
              font-family: Arial, Verdana, Helvetica, sans-serif;
              font-size: 12px;
              padding: 12px 0;
              text-align: center;
            "
          >
            <a
              href="https://l.promo.newegg.com/rts/go2.aspx?h=424499&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
              style="color: #818b8f; text-decoration: underline"
              >Newegg.com</a
            ><span style="padding: 0 5px"> | </span
            ><a
              href="https://l.promo.newegg.com/rts/go2.aspx?h=424500&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
              style="color: #818b8f; text-decoration: underline"
            >
              Policy and Agreement</a
            >
            <span style="padding: 0 5px"> | </span
            ><a
              href="https://l.promo.newegg.com/rts/go2.aspx?h=424501&tp=i-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx&x=cXVhbmRyZW15ZXJzQHlhaG9vLmNvbQ==%7ci-1NGB-Q7F-5lM-70eigc-2D-1kuFk-1c-70Xhy5-l6fN6j8cNE-1AwYkx%7c25955664%7c22156"
              style="color: #818b8f; text-decoration: underline"
              >Privacy Policy</a
            ><span style="padding: 0 5px"> | </span>
            &copy;2000-2021 Newegg Inc. All rights reserved.
          </p>
        </columns>
      </row>
      <row>
        <p
          style="
            padding: 0 25px 20px;
            color: #818b8f;
            font-family: Arial, Verdana, Helvetica, sans-serif;
            font-size: 12px;
            text-align: center;
          "
        >
          Newegg.com, 18045 Rowland St. City of Industry, CA. 91748
        </p>
      </row>
    </columns>
  </row>
</container>
